@tailwind base;
@tailwind components;
@tailwind utilities;
body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      background-color: black;
    }

.active {
  border-bottom: 2px solid #f3a93c;
  color: #fff;
}      

.active-two {
  width: 100%;
  opacity: 1;
}

.positioning {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 20;
}
    
.search-active {
  background-color: #2f2f2f;
}

.custom-scroll::-webkit-scrollbar { 
  width: 7px; 
} 
.custom-scroll::-webkit-scrollbar-track { 
  background-color: #1C1C1C; 
   
} 
.custom-scroll::-webkit-scrollbar-thumb { 
  background-color: #FF9900; 
  border-radius: 100px; 
}
.mobile-scroll::-webkit-scrollbar { 
  width: 7px; 
} 
.mobile-scroll::-webkit-scrollbar-track { 
  background-color: #1b1b1b; 
   
} 
.mobile-scroll::-webkit-scrollbar-thumb { 
  background-color: #f3c669; 
  border-radius: 100px; 
}

.gradient-bg {
  background: repeating-linear-gradient(45deg, #e7e7e7, #e7e7e7 24px, #dadada 4px, #dadada 35px);
}

.gradient-bg:hover {
  background: repeating-linear-gradient(45deg, #333, #333 24px, #393939 4px, #393939 35px);
}

/* modal */
.modal-scroll::-webkit-scrollbar-track { 
  background-color: #fff; 
  border-radius: 100px;
} 
.modal-scroll::-webkit-scrollbar{
  width: 10px;
}
.modal-scroll::-webkit-scrollbar-thumb { 
  background-color: #1C1C1C; 
  border-radius: 100px; 
}